
<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>Email:</label>
      <input name="email" formControlName="email" required="required">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password" required="required">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button [disabled]="!form.valid" class="btn btn-primary"
            (click)="login()">Login</button>
  </div>
</form>
