<br>
<br>
<div class="container">
  <div class="float-right form-inline">
      <input #searchBox class="input-group-text" placeholder="cerca" (keydown.enter)="onSearchClick(searchBox.value, fieldBox.value) ">
      <select #fieldBox class="custom-select">
        <option *ngFor="let field of displayedColumns.search.colums">{{field}}</option>
      </select>
  </div>
  <br>
  <br>

<table class="table table-bordered">
  <tr>
    <th class="header" *ngFor="let header of displayedColumns.headers" (click)="onHeaderClick(header.key)">
      <ng-container *ngIf="header.key===lastSortedByField; then thencontent else elsecontent" ></ng-container>
      <ng-template #thencontent >
          <ng-container *ngIf="ascendingOrder; then thencontent1 else elsecontent1" ></ng-container>
          <ng-template #thencontent1 >{{header.label}} <mat-icon class="vertically">expand_more</mat-icon></ng-template>
          <ng-template #elsecontent1 >{{header.label}} <mat-icon class="vertically">expand_less</mat-icon></ng-template>
      </ng-template>
      <ng-template #elsecontent>{{header.label}}</ng-template>
    </th>
    <ng-container *ngIf="displayedColumns.actions.includes(1) || displayedColumns.actions.includes(2)"><th>actions</th></ng-container>
  </tr>
  <tr *ngFor="let element of filteredList | pagination: currentPage : displayedColumns.pagination.itemsPerPage">
    <ng-container *ngFor="let header of displayedColumns.headers ">
      <td>{{element[header.key]}}</td>
    </ng-container>
    <td *ngIf="displayedColumns.actions.includes(1) || displayedColumns.actions.includes(2)">
      <ng-container class="float-left" *ngIf="displayedColumns.actions.includes(1)"><app-button [buttonConfig]=button1 (newRouteEvent)="route($event + '/' + element[idRow])"></app-button></ng-container>
        <ng-container class="float-right" *ngIf="displayedColumns.actions.includes(2)"><app-button [buttonConfig]=button2 (newRouteEvent)="route($event + '/' + element[idRow])"></app-button></ng-container>
    </td>
</table>
  <ng-container class="float-left" *ngIf="displayedColumns.actions.includes(0)"><app-button [buttonConfig]=button3 (newRouteEvent)="route($event)"></app-button></ng-container>
  <div class="justify-content-lg-center form-inline">
    <input #pageBox type="number" class="input-group-text" (change)="onSelectPage(pageBox.value)" value="{{currentPage +1}}" >
    <select #selectBox class="custom-select" (change)="onPageNumberSelect(selectBox.value)">
      <option *ngFor="let npages of displayedColumns.pagination.itemsPerPageOptions">{{npages}}</option>
    </select>

  </div>

</div>

